<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Aoboshi+One&family=Borel&family=EB+Garamond&family=Great+Vibes&family=Kaushan+Script&family=Lumanosimo&family=Merienda:wght@300&family=Noto+Serif+Bengali:wght@900&family=Nova+Square&family=Pacifico&family=Raleway:wght@800&family=Righteous&family=Satisfy&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    
</head>
<body>
    <nav class="nav">
        <div class="left"><i class="ri-token-swap-line"></i>Kotha Barta</div>
        <div class="right">
          <ul>
              <li>home</li>
            <li>Profile</li>
            <li>log out</li>
            
          </ul>
        </div>
        <i class="ri-menu-line menu"></i>
      </nav>
      <div class="hero">

        <div class="heroleft">

            <div class="top">
                
            </div>
            <div class="buttom">
                

            </div>



        </div>




        <div class="heroright">
            <div class="view_message">
                <p> vik joined</p>
                    <p>Vik:Hello</p>
                </div>

            



            <div class="message_section">

            <div class="input">
                
                <input type="text" name="message"  id="message">
            <input type="button" id="button" value="Send">
            
            </div>
            </div>


        </div>


      </div>
</body>
</html>