<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Aoboshi+One&family=Borel&family=EB+Garamond&family=Great+Vibes&family=Kaushan+Script&family=Lumanosimo&family=Merienda:wght@300&family=Noto+Serif+Bengali:wght@900&family=Nova+Square&family=Pacifico&family=Raleway:wght@800&family=Righteous&family=Satisfy&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    
</head>
<body>
    <nav class="nav">
        <div class="left"><i class="ri-token-swap-line"></i>Kotha Barta</div>
        <div class="right">
          <ul>
              <li class="home"><a href="/">Home</a></li>
            <li id="profile">Profile</li>
            <li id="logout">log out</li>
            
          </ul>
        </div>
        <i class="ri-menu-line menu"></i>
      </nav>

<div class="menu2"> <p><i class="ri-group-line"></i></p> </div>

      <div class="hero">
<!-- left -->
        <div class="heroleft" id="heroleft">

            <div class="top">
                <input type="button" value="Add New Group +">
            
            </div>
            
            <h2 class="heading-group">All Groups</h2>
            <div class="buttom">
                <!-- <ul class="groups-list">
                    <li><img src="" alt=""></li>
                        <span class="group-name" data-group-id=9"></span>
                    <li id="group-name">Common Name</li>
                </ul>
                <ul class="groups-list">
                    <li><img src="" alt=""></li>
                    <li id="group-name">2nd Name</li>
                </ul>
                <ul class="groups-list">
                    <li><img src="" alt=""></li>
                    <li id="group-name">3rd Name</li>
                </ul> -->

            </div>



        </div>



<!-- right -->
        <div class="heroright">
            <div class="heading headingTranparent">
                <!-- <div class="group-img"><simg src="" alt="" srcset=""></div> -->
                <div class="group-name-dashboard"> </div>
                <div class="group-member-dashboard"></div>
                <div class="edit-button" style="display: none;" id="edit-button"><i class="ri-pencil-line"></i></div>
                <div class="exit-button" ><i class="ri-logout-box-r-line"></i></div>
            </div>
            <div class="view_message">

                <ul class="message_container">

                    <!-- <li class="others_message">
                        <p class="message">
                            <span>username</span>
                            message
                            <span>today at 12.2.3ddddddddddddddddd1</span>
                        </p>
                    </li>
                    <li class="my_message">
                        <p class="message">
                            souvik das
                            <span>today at 12.2.31 sdsf</span>
                        </p>
                    </li>-->
                    <li class="feedback">   
                        welcome to Kotha Barta
                    </li> 


                </ul>




                
                </div>

            



            <div class="message_section">

            <form class="input" enctype="multipart/form-data">
                
                <input type="file" name="file" id="file" >
            
                <input type="text" name="message"  id="message"  placeholder="enter message..." required>
                <div class="send"><i class="ri-send-plane-2-line"></i></div>
            
            </form>
            </div>


        </div>


      </div>
      <!-- user profile -->
      <div class="UserProfile" id="userProfile">
        <i class="ri-contract-left-right-line pro"></i>
        <div class="userPicture">
                    <img src="../css/img/profile.png" alt="">
        </div>
        <!-- <div class="userDetails">
            <h3 class="username">Souvik Das</h3>
            <h4 class="phonenumber">8972816056</h4>
            <h4 class="email">souvik@gmail.com</h4>

        </div> -->


      </div>

<!--  -->
      <form class="addGroupMembers" method="post">
        <i class="ri-contract-left-right-line remove"></i>
        <div class="headingOf">
            Create Group
        </div>
        <label id="groupName1" for="groupName">Group Name</label>
        <input type="text" name="groupName" id="groupName" required>
        <!-- all users will appare here -->
    <div class="allUsers">
        <label for="group-members" id="add-member"> Add Members +</label>
        <div id="group-member">
            
            
    
    
        </div>
        
    </div>    
        <label for="description">Add Description</label>
        <textarea name="description" id="description" cols="30" rows="5"></textarea>
    
        <input id="create-button" type="button"  value="Create Group">
        
    
    
    
    </form>  

    <form class="updateGroupMembers" method="post">
        <i class="ri-contract-left-right-line remove" id="removeUpdateForm"></i>
        <div class="headingOf">
            update Group
        </div>
        <label id="groupName1" for="groupName">Group Name</label>
        <input type="text" name="groupName" id="updateGroupName" required>
        <!-- all users will appare here -->
    <div class="allUsers">
        <label for="group-members" id="update-add-member"> Add Members +</label>
        <div id="group-update-member">
            
            
    
    
        </div>
        
    </div>    
        <label for="description">Add Description</label>
        <textarea name="description" id="updateDescription" cols="30" rows="5"></textarea>
    
        <input id="update-button" type="button"  value="Update Group">
        
    
    
    
    </form>  
    <div class="heroimg"></div>
    <div class="heroimg2"></div>


    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/socket.io/socket.io.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

      <script src="/js/dashboard.js"></script>
</body>
</html>